@CHARSET "UTF-8";
body{
background: url(../css/sources/fondcontenu.jpg);	
}

#contenuaccueil {
	background-color: white;
		
	position: relative;
	height: 650px;
	width: 1000px;
	margin: auto;
}
a {
	text-decoration: none;
}
#menurighttop2 {
	background-color: #9A8EFE;
	position: absolute;
	top: 10px;
	left: 700px;
	height: 300px;
	width: 200px;
}
#menurighttop {
	background-color: #9A2EFE;
	position: absolute;
	top: 10px;
	left: 700px;
	height: 300px;
	width: 200px;
}

#menurightbottom{
	background-color: gray;
	position: absolute;
	top: 320px;
	left: 700px;
	height: 300px;
	width: 200px;
}

#menurighttop {
	background-color: #9A2EFE;
	position: absolute;
	top: 10px;
	left: 700px;
	height: 300px;
	width: 200px;
}

#menurightbottom2{
	background-color: gray;
	position: absolute;
	top: 320px;
	left: 700px;
	height: 300px;
	width: 200px;
}
#menurightbottom1{
	background-color:fuchsia;
	position: absolute;
	top: 320px;
	left: 700px;
	height: 300px;
	width: 200px;
}

#squaretopleft2 {
	background-color: #FACC2E;
	position: absolute;
	top: 10px;
	left: 10px;
	height: 300px;
	width: 300px;
	font-family: 
}
#squaretopleft1 /* caché */ {
	background-color:#A9BCF5;
	position: absolute;
	top: 10px;
	left: 10px;
	height: 300px;
	width: 300px;
	font-family: 
}
#squarebottomleft2 {
	background-color: #2EFE2E;
	position: absolute;
	top: 320px;
	left: 10px;
	height: 300px;
	width: 300px;
}
#squarebottomleft1 /* caché */ {
	background-color: #2EFE2E;
	position: absolute;
	top: 320px;
	left: 10px;
	height: 300px;
	width: 300px;
}

#squaretopright2 {
	background-color: #FF0000;
	position: absolute;
	top: 10px;
	left: 320px;
	height: 300px;
	width: 300px;
}
#squaretopright1 /* caché */ {
	background-color: #FF0000;
	position: absolute;
	top: 10px;
	left: 320px;
	height: 300px;
	width: 300px;
}

#squarebottomright2{
	position : absolute;
	background-color: #2ECCFA;
	height: 300px;
	width: 300px;
	 top: 320px; 
	left: 320px;
}
#squarebottomright1 /* caché */{
	position : absolute;
	background-color: #2ECCFA;
	height: 300px;
	width: 300px;
	 top: 320px; 
	left: 320px;
}
.texte{
	position:relative;
	top: 70px;
	left:30px;
	font-family: fantasy;
	font-size:xx-large;
}
.stylewhite{
	color: white;
}

.styleblack{
	color: black;
}



