@CHARSET "UTF-8";

#textconnect{
	position: relative;
	height: 30px;
	width: 1000px;
	font-family: sans-serif;
	font-size: small;
	font-weight: bold;
	color:white;
	margin: auto;
}

#contenuaccueil {
	/*background-color: black;*/
	position: relative;
	height: 650px;
	width: 1000px;
	margin: auto;
}

a {
	text-decoration: none;
}




#menurighttop2 {
	background-color: #9A8EFE;
	position: absolute;
	top: 10px;
	left: 700px;
	height: 300px;
	width: 250px;
}
#menurighttop {
	background-color: #9A2EFE;
	position: absolute;
	top: 10px;
	left: 700px;
	height: 300px;
	width: 250px;
}

#menurightbottom{
	background-color: gray;
	position: absolute;
	top: 320px;
	left: 700px;
	height: 300px;
	width: 250px;
}

#menurighttop {
	background-color: #9A2EFE;
	position: absolute;
	top: 10px;
	left: 700px;
	height: 300px;
	width: 250px;
}

#menurightbottom2{
	background-color: gray;
	position: absolute;
	top: 320px;
	left: 700px;
	height: 300px;
	width: 250px;
}
#menurightbottom1{
	background-color:fuchsia;
	position: absolute;
	top: 320px;
	left: 700px;
	height: 300px;
	width: 250px;
}

#squaretopleft2 {
	background-color: #FACC2E;
	position: absolute;
	top: 10px;
	left: 10px;
	height: 300px;
	width: 300px; 
}
#squaretopleft1 /* caché */ {
	background-color:#A9BCF5;
	position: absolute;
	top: 10px;
	left: 10px;
	height: 300px;
	width: 300px;
}
#squarebottomleft2 {
	background-color: #2EFE2E;
	position: absolute;
	top: 320px;
	left: 10px;
	height: 300px;
	width: 300px;
}
#squarebottomleft1 /* caché */ {
	background-color: #2EFE2E;
	position: absolute;
	top: 320px;
	left: 10px;
	height: 300px;
	width: 300px;
}

#squaretopright2 {
	background-color: #FF0000;
	position: absolute;
	top: 10px;
	left: 320px;
	height: 300px;
	width: 300px;
}
#squaretopright1 /* caché */ {
	background-color: #FF0000;
	position: absolute;
	top: 10px;
	left: 320px;
	height: 300px;
	width: 300px;
}

#squarebottomright2{
	position : absolute;
	background-color: #2ECCFA;
	height: 300px;
	width: 300px;
	 top: 320px; 
	left: 320px;
}
#squarebottomright1 /* caché */{
	position : absolute;
	background-color: #2ECCFA;
	height: 300px;
	width: 300px;
	 top: 320px; 
	left: 320px;
}
.texte{
	position:relative;
	top: 70px;
	left:30px;
	font-family: sans-serif;
	font-size:xx-large;
	font-weight: bold;
}
.texte1{
	position:relative;
	top: 70px;
	left:30px;
	font-family: sans-serif;
	font-size:xx-large;
	font-weight: bold;
}
.texte2{
	position:relative;
	top: 70px;
	left:30px;
	font-family: sans-serif;
	font-size:xx-small;
	font-weight: bold;
}

.stylewhite{
	color: white;
}

.styleblack{
	color: black;
}



