#conteneur{
position:relative;
width:1000px;
height: 218px;
margin: auto;
}

	/* BANDE DE TITRE */
	
	#bandetitre{
	background-image: url(../css/sources/barre_titre.jpeg );
	width: 1000px;
	height: 100px;
	}

	a {
	text-decoration: none;
	color:black;
	}


		#logo{
		display:inline-block;
		float:left;
		top:20px;
		margin-top:15px;
		margin-left:10px;
		width: 82px;
		height: 82px;
		}

		#titre{
		display:inline-block;
		top:10px;
		margin-top:15px;
		margin-left: 10px;
		font-size:20px;
		font-weight:bold;
		width: 120px;
		height: 82px;
		font-family: sans-serif;
		}
		
		#chemin{
		display:inline-block;
		margin-left: 20px;
		width: 650px;
		height: 82px;
		font-size: small;
		font-family: sans-serif;
		}
		
		#chemin a{
		padding-left: 25px;
		padding-right: 25px;
		}
		
		
		#bloc3{
		display:inline-block;
		float:right;
		margin-top:20px;
		margin-right: 50px;
		}

	/* BARRE DE MENU */
	#menu{
	background-image: url(../css/sources/Bande_menu.jpg );
	width: 1000px;
	height: 95px;
	}

